.single-image-page {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;

}

.container-redirect {
    display: flex;
    justify-content: space-around;
}

.container-review {
    margin: 20px;
}

.container-buttons {
    display: flex;
    justify-content: center;
}

/* .navBtn {

    margin: 0px 40px;
    list-style-type: none;
    border: 1px solid black;
} */

/* .navBtn:hover {
    color: tomato;
    border: 1px solid tomato;
} */

.restaurant-data-container {
    width: 25%;
}

.restaurant-images-container {
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-evenly;
    margin: 0px 20px;
}

.restaurant-single-image-container {
    display: flex;
    height: 300px;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.restaurant-data-container>p {
    color: tomato;
    margin: 0px 30px;
    font-size: .9rem;
}

.restaurant-data-container>img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoRest {
    position: static;
    width: 500px;
    z-index: 0;
}

.nameRest {
    position: absolute;
    top: 105px;
    margin-left: 5px;
    color: white;
    outline: 5px solid rgba(0, 0, 0, 25%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 30%);
    font-size: 1.8rem;
}

.descRest {
    margin: 10px 30px;
    word-wrap: break-word;
    overflow-y: scroll;
}

.ownerRest {
    color: black;
    font-style: italic;
    font-size: .6rem;
    margin: 10px 30px;
}





.star-review {
    color: #fc0;
    font-size: 1.5em;
}


.reviewedBy {
    color: tomato;
    margin-left: 20px;
}

.navBtn {
    background-color: tomato;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    cursor: pointer;
}
