.single-image-page {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.container-redirect {
    display: flex;
    justify-content: right;
}

.container-review {
    margin: 20px;
}

.container-buttons {
    display: flex;
    justify-content: left;
}
.navBtn {
    
    margin: 0px 40px;
    list-style-type: none;
}

.navBtn:hover {
    color: tomato;
}

.restaurant-data-container {
    background-color: #fc0;
    width: 25%;
}

.restaurant-images-container {
    background-color: aqua;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 75%;
    align-items: center;
}

.restaurant-single-image-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.nameRest {
    color: tomato;
}
 
.restaurant-data-container > p {
    color: tomato;
    margin: 5px 30px;
}

.ownerRest {
    color: black;
    font-style: italic;
    font-size: .8rem;
    margin: 30px 30px;
}

.descRest {
    margin: 30px 30px;
}




.star-review {
    color: #fc0;
    font-size: 1.5em;
  }
  

.reviewedBy {
    color: tomato;
    margin-left: 20px;
}  
