.user-details-form{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info{
    display:flex;
    align-items:left;
    flex-direction: column;
}

.user-detail-header{
    display: flex;
    justify-content: center;
}
