#navbar-body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    /* border: red 1px solid; */
}

#navbar-body > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

li a:hover {
    color: tomato;
}

#kelp-me-home-link {
    font-size: 30px;
    font-weight: 900;
    color: tomato;

}
