#navbar-body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    /* border: red 1px solid; */
}

#navbar-body > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

li a:hover {
    color: tomato;
}

#kelp-me-home-link {
    font-size: 30px;
    font-weight: 900;
    color: tomato;

}

.dropdown-menu {
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 3px 7px 2px rgba(94, 94, 94, 0.414);
    right: 20px;
    top: 62px;
    width: 250px;
    height: 120px;
    /* padding: 20px 20px; */
    align-items: center;
    /* z-index: 1; */

    /* top: var(--navbar-body-height); */
}

/* .dropdown:hover .dropdown-menu {
    transition-delay: 2s;
    display: block;
} */

.dropdown-menu ul {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-menu ul li {
    margin: 12px;
}

.dropdown img {
    object-fit: cover;
    object-position: center;
    border-radius: 50% 50%;
}
