.homepageImage {
    width: 100%;
}

.homepage-tagline {
    color: white;
    outline: 5px solid rgba(0, 0, 0, 25%);
    border-radius: 10px;
    background: rgba(0, 0, 0, 30%);
    font-size: 1.8rem;
    white-space: nowrap;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.homepage-list {
    margin: 50px 0px 0px 0px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top8-Image {
    height: 250px;
    width: 250px;
    margin: 10px
}

.top8-Image-Container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    justify-content: center;

}
